footer.footer
	ul.footer-links
		li
			a(href="tel:+79956691569", target="_blank") +7&nbsp;(995)&nbsp;669-15-69
		li
			a(href="mailto:nb@needbutton.ru", target="_blank") nb@needbutton.ru
	p.developed-by Developed by <strong>NeedButton</strong>