header.header.wrapper
	.girl__flower
		.girl
			img.svg(src="img/svg/girl.svg", alt="")
		.flower
			img.svg(src="img/svg/flower.svg", alt="")
	.logo
		img.logo-img.svg(src="img/svg/logo.svg", alt="logo")
		h1.logo-title.subtitle Лучшие сайты сасайты
		button.checkout-btn
			p.btn-checkout-text Оформить заказ
	a.btn-next-screen(href="#about-us", data-target="anchor")
		img.svg(src="img/svg/btn-down.svg", alt="next screen")