<!DOCTYPE html>
html(lang="ru", dir="ltr", xmlns:og="http://ogp.me/ns#")
	head
		title Создание сайтов&nbsp;&ndash; разработка сайтов любой сложности | Цены | Web-Run
		meta(http-equiv="Content-Type", content="text/html; charset=utf-8")
		meta(name="viewport", content="width=device-width, height=device-height, initial-scale=1")
		meta(name="apple-mobile-web-app-capable", content="yes")

		link(rel="shortcut icon", href="img/png/favicon.png", type="image/png")
		link(rel="stylesheet", href="style.css")
		link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.0.0/animate.min.css")


	body
		<?php require "parts/fixed.php" ?>
		<?php require "parts/header.php" ?>

		main.main
			div.about-us.wrapper#about-us
				.content
					h2.block-title О нас
					h3.subtitle История студии
					.about-us-block
						.about-us-row.about-us-row-1
							p.about-us-description <strong>NeedButton</strong> - молодая студия веб-дизайна, основана в 2020 году. За такое короткое успела создать множество проектов для компаний из России и СНГ.
							.about-us-img
								img(src="img/jpg/about-us-1.jpg", alt="about us")
						.about-us-row.about-us-row-2
							.about-us-img
									img(src="img/jpg/about-us-2.jpg", alt="about us")
								p.about-us-description В студии работает множество  специалистов: программисты, дизайнеры, копирайтеры и другие.
					a.btn-next-screen(href="#services", data-target="anchor")
						img.svg(src="img/svg/btn-down.svg", alt="next screen")

			div.services.wrapper#services
				.content
					h2.block-title Наши услуги
					h3.subtitle Каталог проектов
					.slider
						.slider-item.slide-1
							.slider-item-container
								.slider-img
								section.slide-description
									h4.slide-title Тест 1
									p.slide-text Lorem, ipsum dolor sit amet consectetur adipisicing elit.
									span.slide-price 10000&#036;
						.slider-item.slide-2
							.slider-item-container
								.slider-img
								section.slide-description
									h4.slide-title Хостинг
									p.slide-text Предоставление ресурсов для размещения сайта на сервере
									span.slide-price 10000&#036;
						.slider-item.slide-3
							.slider-item-container
								.slider-img
								section.slide-description
									h4.slide-title Тест 2
									p.slide-text Предоставление ресурсов для размещения сайта на сервере
									span.slide-price 10000&#036;
						.slider-item.slide-4
							.slider-item-container
								.slider-img
								section.slide-description
									h4.slide-title Тест 2
									p.slide-text Предоставление ресурсов для размещения сайта на сервере
									span.slide-price 10000&#036;
						.slider-item.slide-5
							.slider-item-container
								.slider-img
								section.slide-description
									h4.slide-title Тест 2
									p.slide-text Предоставление ресурсов для размещения сайта на сервере
									span.slide-price 10000&#036;
						.slider-item.slide-6
							.slider-item-container
								.slider-img
								section.slide-description
									h4.slide-title Тест 2
									p.slide-text Предоставление ресурсов для размещения сайта на сервере
									span.slide-price 10000&#036;
						.slider-item.slide-7
							.slider-item-container
								.slider-img
								section.slide-description
									h4.slide-title Тест 2
									p.slide-text Предоставление ресурсов для размещения сайта на сервере
									span.slide-price 10000&#036;

					a.btn-next-screen(href="#contacts", data-target="anchor")
						img.svg(src="img/svg/btn-down.svg", alt="next screen")

			div.contacts.wrapper#contacts
				.content
					h2.block-title Контакты
					h3.subtitle Связь с нами
					.contacts-block
						ul.social-networks-links
							li.social-networks-item
								a.facebook(href="#", target="_blank")
									img.svg(src="img/svg/facebook.svg", alt="facebook")
							li.social-networks-item
								a.instagram(href="#", target="_blank")
									img.svg(src="img/svg/instagram.svg", alt="instagram")
							li.social-networks-item
								a.vk(href="#", target="_blank")
									img.svg(src="img/svg/vk.svg", alt="vk")
							li.social-networks-item
								a.phone(href="#", target="_blank")
									img.svg(src="img/svg/phone.svg", alt="phone")

						.checkout-block
							form.checkout(method="post", autocomplete="on")
								h3.checkout-title <span>Оформить</span><br>заявку
								.form.name-form.animate__animated
									input#name(type="name", name="name", aria-label="name", placeholder="Имя", required)
									img.svg(src="img/svg/error.svg", alt="error")
								.form.email-form.animate__animated
									input#email(type="email", name="email", aria-label="Email Address", placeholder="Почта", required)
									img.svg(src="img/svg/error.svg", alt="error")
								.form.number-form.animate__animated
									input#telephone(type="tel", name="number", aria-label="Phone number", placeholder="Телефон", required)
									img.svg(src="img/svg/error.svg", alt="error")
								.form.message-form
									textarea#message(name="message", placeholder="Описание")
								button.btn-send Отправить

			
		<?php require 'parts/footer.php' ?>
	
		script(src="main.js")